<div id="work" class="flex flex-col items-center justify-center min-h-full p-4 gap-6">
    <h5 class="text-xl text-primary-700 leading-none pt-12 max-w-4xl w-full">My selected work</h5>

    <!-- ACCESS 4 -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-start justify-start gap-8 p-4 row-start-2 md:row-start-1">
            <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">2023 - PRESENT</span>
            <div class="flex flex-col gap-4">
                <h4 class="text-2xl text-gray-700">SASBOSS Redesign</h4>
                <p>
                    Implemented a design system that transformed the SASBOSS portal, making cloud communication management smoother, more intuitive, and user-friendly.
                </p>
            </div>
            <a 
                role="link"
                class="px-4 py-2 rounded-md bg-transparent border border-primary-700 text-primary-700 whitespace-nowrap" 
                href="/work/sasboss">
                Read case study
            </a>
        </div>
        <div class="flex flex-col items-center justify-center h-full w-full bg-[#008EAA] row-start-1">
            <img class="w-full bg-cover self-start mr-auto p-2" src="/static/img/sasboss/cartelera-1.png" alt="picture">
        </div>
    </div>

    <!-- HOYTS -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-center justify-center h-full w-full bg-primary-50">
            <img class="w-full bg-cover self-start mr-auto p-2" src="/static/img/hoyts/cartelera-1.png" alt="picture">
        </div>
        <div class="flex flex-col flex-wrap items-start justify-start gap-8 p-4">
            <div class="flex flex-wrap gap-4">
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">2021 - 2022</span>
            </div>
            <div class="flex flex-col gap-4">
                <h4 class="text-2xl text-gray-700">Hoyts Self Serve Kiosk</h4>
                <p>
                    A movie night should be effortless. This redesign transformed the kiosk experience, making it easier for users to find showtimes, secure tickets, and order food. A seamless journey from start to finish.
                </p>
            </div>
            <a 
                role="link"
                class="px-4 py-2 rounded-md bg-transparent border border-primary-700 text-primary-700 whitespace-nowrap" 
                href="/work/hoyts">
                Read case study
            </a>
        </div>
    </div>

    <!-- PORTFOLIO -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-center justify-center h-full w-full bg-primary-50">
            <img class="w-full bg-cover self-start mr-auto p-2" src="/static/img/portfolio/cartelera-1.png" alt="picture">
        </div>
        <div class="flex flex-col items-start justify-start gap-8 p-4 row-start-2 md:row-start-1">
            <div class="flex flex-col flex-wrap gap-4">
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">2024 - PRESENT</span>
            </div>
            <div class="flex gap-4">
                <h4 class="text-2xl text-gray-700">This portfolio!</h4>
                <p>
                    My portfolio is a reflection of my design expertise, designed in Figma and developed in collaboration with my partner, Nacho.
                </p>
            </div>
            <a 
                role="link"
                class="px-4 py-2 rounded-md bg-transparent border border-primary-700 text-primary-700 whitespace-nowrap" 
                href="/work/sasboss">
                Read case study
            </a>
        </div>
    </div>

    <h5 class="text-xl text-primary-700 leading-none pt-12 max-w-4xl w-full">My final dissertation</h5>

    <!-- TESIS -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-center justify-center h-full w-full bg-primary-50">
            <iframe class="w-full h-full bg-cover self-start mr-auto p-2" src="https://drive.google.com/file/d/1iJgAf1C0h6IXNsYdqd4LeLWXve0cwGtK/view" allow="autoplay"></iframe>
        </div>
        <div class="flex flex-col items-start justify-start gap-8 p-4 row-start-2 md:row-start-1">

            <div class="flex flex-wrap gap-4">
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">2021</span>
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">Language: Spanish</span>
            </div>
            <div class="flex flex-col gap-4">
                <h4 class="text-2xl text-gray-700">Hoyts Self Serve Kiosk</h4>
                <p>
                    My final dissertation I did as part of my Bachelor’s Degree in Graphic Design. I focused on redesigning the Cine Hoyts digital kiosk interface — a touchscreen platform for movie ticket and food purchases. Through research, analysis, and a user-centered design approach, the goal was to improve usability, visual organization, and overall user experience.
                </p>
            </div>
            <a 
                role="link"
                class="px-4 py-2 rounded-md bg-transparent border border-primary-700 text-primary-700 whitespace-nowrap" 
                href="https://drive.google.com/file/d/1iJgAf1C0h6IXNsYdqd4LeLWXve0cwGtK/view?usp=sharing">
                Download PDF
            </a>
        </div>
    </div>

    <h5 class="text-xl text-primary-700 leading-none pt-12 max-w-4xl w-full">My talks</h5>

    <!-- NERDEARLA -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-center justify-center h-full w-full min-h-[300px] bg-primary-50">
            <iframe class="w-full h-full bg-cover self-start mr-auto p-2" src="https://www.youtube.com/embed/K7nLAGGQmEQ?si=owqsUdZOnu_Z6wsk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex flex-col items-start justify-start gap-8 p-4">
            <div class="flex flex-wrap gap-4">
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">2021</span>
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">Audio: Spanish</span>
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">Subtitles: English</span>
            </div>
            <div class="flex flex-col gap-4">
                <h4 class="text-2xl text-gray-700">Nerdearla talk: My partner is a developer</h4>
                <p>
                    My colleague and I shared insights on strengthening designer-developer collaboration, inspired by our own relationship. Through real examples, we offered practical tips to improve communication and boost project success.
                </p>
            </div>
        </div>
    </div>

    <!-- REACT LADIES -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-center justify-center h-full w-full min-h-64 bg-primary-49">
            <iframe class="w-full h-full bg-cover self-start mr-auto p-2" src="https://www.youtube.com/embed/e266mL3E1Mk?si=Y4JkKnppZraVFQfM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex flex-col items-start justify-start gap-8 p-4 row-start-2 md:row-start-1">

            <div class="flex flex-wrap gap-4">
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">2020</span>
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">Audio: Spanish</span>
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">Subtitles: English</span>
            </div>
            <div class="flex flex-col gap-4">
                <h4 class="text-2xl text-gray-700">React Ladies talk: Web Design 101</h4>
                <p>
                    As a member of React Ladies, a non-profit empowering women to enter tech, I gave a talk on how I designed their website. I covered UX/UI basics and highlighted the power of good design to inspire and inform.
                </p>
            </div>
        </div>
    </div>

    <h5 class="text-xl text-primary-700 leading-none pt-12 max-w-4xl w-full">My graphic design work</h5>

    <!-- GRAPHIC DESIGN -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-center justify-center h-full w-full bg-primary-50">
            <img class="w-full bg-cover self-start mr-auto p-2" src="/static/img/graphic_design/preview.png" alt="picture">
        </div>
        <div class="flex flex-col items-start justify-start gap-8 p-4">
            <div class="flex flex-wrap gap-4">
                <span class="bg-primary-50 text-primary-700 p-1 rounded-sm whitespace-nowrap">2021 - 2022</span>
            </div>
            <div class="flex flex-col gap-4">
                <h4 class="text-2xl text-gray-700">A selection of my favourite designs</h4>
                <p>
                    Before transitioning into UX/UI, I worked as a graphic designer. Here are some of my favourite pieces that highlight my visual skills, eye for typography, branding experience, and passion for creativity and design.
                </p>
            </div>
            <a 
                role="link"
                class="px-4 py-2 rounded-md bg-transparent border border-primary-700 text-primary-700 whitespace-nowrap" 
                href="/work/graphic_design">
                View Work
            </a>
        </div>
    </div>
</div>
