<div id="work" class="flex flex-col items-center justify-center min-h-full p-4 gap-6">
    <h5 class="text-xl text-primary-700 leading-none pt-12 max-w-4xl w-full">My selected work</h5>

    <!-- HOYTS -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-center justify-center h-full w-full bg-primary-50">
            <img class="w-full bg-cover self-start mr-auto p-2" src="/static/img/hoyts/cartelera-1.png" alt="picture">
        </div>
        <div class="flex flex-col items-start justify-start gap-8 p-4">
            <span class="bg-primary-50 text-primary-700 p-1 rounded-sm">2021-2022</span>
            <div class="flex flex-col   gap-4">
                <h4 class="text-2xl text-gray-700">Hoyts Self Serve Kiosk</h4>
                <p>
                    A movie night should be effortless. This redesign transformed the kiosk experience, making it easier for users to find showtimes, secure tickets, and order food. A seamless journey from start to finish.
                </p>
            </div>
            <a 
                role="link"
                class="px-4 rounded-md bg-transparent border border-primary-700 text-primary-700 whitespace-nowrap" 
                href="/work/hoyts">
                Read case study
            </a>
        </div>
    </div>

    <!-- ACCESS 4 -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-start justify-start gap-8 p-4 row-start-2 md:row-start-1">
            <span class="bg-primary-50 text-primary-700 p-1 rounded-sm">2023-PRESENT</span>
            <div class="flex flex-col   gap-4">
                <h4 class="text-2xl text-gray-700">SASBOSS Redesign</h4>
                <p>
                    Implemented a design system that transformed the SASBOSS portal, making cloud communication management smoother, more intuitive, and user-friendly.
                </p>
            </div>
            <a 
                role="link"
                class="px-4 rounded-md bg-transparent border border-primary-700 text-primary-700 whitespace-nowrap" 
                href="/work/sasboss">
                Read case study
            </a>
        </div>
        <div class="flex flex-col items-center justify-center h-full w-full bg-[#008EAA] row-start-1">
            <img class="w-full bg-cover self-start mr-auto p-2" src="/static/img/sasboss/cartelera-1.png" alt="picture">
        </div>
    </div>

    <!-- PORTFOLIO -->
    <div class="grid md:grid-cols-2 grid-cols-1 items-center justify-center gap-4 max-w-4xl bg-white rounded-md shadow overflow-hidden">
        <div class="flex flex-col items-center justify-center h-full w-full bg-primary-50">
            <img class="w-full bg-cover self-start mr-auto p-2" src="/static/img/portfolio/cartelera-1.png" alt="picture">
        </div>
        <div class="flex flex-col items-start justify-start gap-8 p-4">
            <span class="bg-primary-50 text-primary-700 p-1 rounded-sm">2024-PRESENT</span>
            <div class="flex flex-col   gap-4">
                <h4 class="text-2xl text-gray-700">This portfolio!</h4>
                <p>
                    My portfolio is a reflection of my design expertise, designed in Figma and developed in collaboration with my partner, Nacho.
                </p>
            </div>
            <a 
                role="link"
                class="px-4 rounded-md bg-transparent border border-primary-700 text-primary-700 whitespace-nowrap" 
                href="/work/sasboss">
                Read case study
            </a>
        </div>
    </div>
</div>
