@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .icon-xs {
      width: 16px;
      height: 16px;
  }
  .icon-sm {
      width: 20px;
      height: 20px;
  }
  .icon-md {
      width: 48px;
      height: 48px;
  }
  .icon-lg {
      width: 96px;
      height: 96px;
  }
  .icon-xl {
      width: 16px;
      height: 16px;
  }
}
