<div class="hidden rounded-lg bg-gray-50" id="colours" role="tabpanel" aria-labelledby="colours-tab">
    <p class="text-primary-800">Primary</p>

    <div class="relative overflow-x-auto w-full">
        <table class="w-full text-md text-left">
            <thead>
                <tr>
                    <th scope="col" class="w-1/3 pr-6 py-3 text-md font-normal">
                        Name
                    </th>
                    <th scope="col" class="w-1/3 pr-6 py-3 text-md font-normal">
                        CSS Class
                    </th>
                    <th scope="col" class="w-1/3 pr-6 py-3 text-md font-normal">
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-primary-50 rounded-full w-6 h-6"></div>
                            Primary 50
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-primary-50
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #E7EAF4
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">

                            <div class="bg-primary-50 rounded-full w-6 h-6"></div>
                            Primary 100
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-primary-100
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #CFD6EA
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-primary-200 rounded-full w-6 h-6"></div>
                            Primary 200
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-primary-200
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #A0AED4
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="!bg-primary-300 border !border-primary-300 rounded-full w-6 h-6"></div>
                            Primary 300
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-primary-300
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #7487BD
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-primary-400 rounded-full w-6 h-6"></div>
                            Primary 400
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-primary-400
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #4B60A5
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-primary-500 rounded-full w-6 h-6"></div>
                            Primary 500
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-primary-500
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #26398D
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-primary-600 border  rounded-full w-6 h-6"></div>
                            Primary 600
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-primary-600
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #192867
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-primary-700 rounded-full w-6 h-6"></div>
                            Primary 700
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-primary-700
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #0D1744
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-primary-800 rounded-full w-6 h-6"></div>
                            Primary 800
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-primary-700
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #040923
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <p class="text-primary-800">Secondary</p>

    <div class="relative overflow-x-auto w-full">
        <table class="w-full text-md text-left">
            <thead>
                <tr>
                    <th scope="col" class="w-1/3 pr-6 py-3 text-md font-normal">
                        Name
                    </th>
                    <th scope="col" class="w-1/3 pr-6 py-3 text-md font-normal">
                        CSS Class
                    </th>
                    <th scope="col" class="w-1/3 pr-6 py-3 text-md font-normal">
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-secondary-50 rounded-full w-6 h-6"></div>
                            Seconday 50
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-secondary-50
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #E7EAF4
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">

                            <div class="bg-secondary-50 rounded-full w-6 h-6"></div>
                            Seconday 100
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-secondary-100
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #CFD6EA
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-secondary-200 rounded-full w-6 h-6"></div>
                            Seconday 200
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-secondary-200
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #A0AED4
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="!bg-secondary-300 border !border-secondary-300 rounded-full w-6 h-6"></div>
                            Seconday 300
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-secondary-300
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #7487BD
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-secondary-400 rounded-full w-6 h-6"></div>
                            Seconday 400
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-secondary-400
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #4B60A5
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-secondary-500 rounded-full w-6 h-6"></div>
                            Seconday 500
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-secondary-500
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #26398D
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-secondary-600 border !border-secondary-600 rounded-full w-6 h-6"></div>
                            Seconday 600
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-secondary-600
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #192867
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-secondary-700 rounded-full w-6 h-6"></div>
                            Seconday 700
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-secondary-700
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #0D1744
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-secondary-800 rounded-full w-6 h-6"></div>
                            Seconday 800
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-secondary-700
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #040923
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <p class="text-primary-800">Greyscale</p>

    <div class="relative overflow-x-auto w-full">
        <table class="w-full text-md text-left">
            <thead>
                <tr>
                    <th scope="col" class="w-1/3 pr-6 py-3 text-md font-normal">
                        Name
                    </th>
                    <th scope="col" class="w-1/3 pr-6 py-3 text-md font-normal">
                        CSS Class
                    </th>
                    <th scope="col" class="w-1/3 pr-6 py-3 text-md font-normal">
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-gray-50 rounded-full w-6 h-6"></div>
                            Grey 50
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-gray-50
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #E7EAF4
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">

                            <div class="bg-gray-50 rounded-full w-6 h-6"></div>
                            Grey 100
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-gray-100
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #CFD6EA
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-gray-200 rounded-full w-6 h-6"></div>
                            Grey 200
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-gray-200
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #A0AED4
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="!bg-gray-300 border !border-primary-300 rounded-full w-6 h-6"></div>
                            Grey 300
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-gray-300
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #7487BD
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-gray-400 rounded-full w-6 h-6"></div>
                            Grey 400
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-gray-400
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #4B60A5
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-gray-500 rounded-full w-6 h-6"></div>
                            Grey 500
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-gray-500
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #26398D
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-gray-600 border  rounded-full w-6 h-6"></div>
                            Grey 600
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-gray-600
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #192867
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-gray-700 rounded-full w-6 h-6"></div>
                            Grey 700
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-gray-700
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #0D1744
                    </td>
                </tr>
                <tr class="bg-white">
                    <td scope="row" class="w-1/3 pr-6 py-4">
                        <div class="flex gap-4 w-full h-full">
                            <div class="bg-gray-800 rounded-full w-6 h-6"></div>
                            Grey 800
                        </div>
                    </td>
                    <td class="w-1/3 pr-6 py-4">
                        bg-gray-700
                    </td>
                    <td class="w-1/3 pr-6 py-4 font-bold">
                        #040923
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
